# dependencies
backend/node_modules
client/node_modules



# production
client/build

# misc
.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local

